<!DOCTYPE html>
<html>
<head>
  <title>Welcome!</title>
</head>
<body>
  <h1>Welcome, <%= name %>,s! Guardian</h1>
  <p>We're excited to have you on board.</p>
  <p>Your login details:</p>
  <ul>
    <li><strong>Student Name:</strong> <%= name %></li>
    <li><strong>Guardian Email:</strong> <%= email %></li>
    <li><strong>Guardian Password:</strong> <%= password %></li>
    <li><strong>Student Email:</strong> <%= studentEmail %></li>
    <li><strong>Student Password:</strong> <%= studentPassword %></li>
  </ul>
  <p>Please keep your credentials safe.</p>
</body>
</html>
